{% extends 'base.html' %}

{% block title %} 
    Edytowanie {{ recipe }}
{% endblock %}

{% block content %}
    <h2>Sposób przygotownia</h2>
    <p> {{ d }}</p>
    <h2>Aktualna liczba składników: {{ nr }}</h2>
    <h2>Składniki przepisu</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Nazwa składniku</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            {% for i in ingredients %}
                <tr>
                    <td> {{ i }}</td>
                    <td> 
                        <a href="/update/recipe/{{ recipe }}/delete/{{ i }}">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <h2>Pozostałe dostępne skłądniki:</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Nazwa składniku</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            {% for i in rest %}
                <tr>
                    <td> {{ i }}</td>
                    <td> 
                        <a href="/update/recipe/{{ recipe }}/add/{{ i }}">Dodaj</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}